<!-- <div class = "wrap">
  <header>
    Flitebooker
  </header>
  <div class = "inner">
   <div *ngFor= "let flightinfo of flightinfos" >
   <p>
     Name: 
     {{fliightinfo.name}}
   </p>
   <p>
     Email Address: 
      {{flightinfo.email}} 
   </p>
   <p>
     Preferred Airline: 
     {{flightinfo.preferredAirline}}
   </p>
   <p>
     Class: 
     {{ flightinfo.typeOfClass}}
   </p>
   <p>
     Destination:
      {{flightinfo.destination }}
   </p>
   <p>
     Date of Departure:
      {{flightinfo.dateDeparture }}
   </p>
   <p>
     Date of Arrival: 
     {{flightinfo.dateArrival }} 
   </p>
   <p>
     Amount: 
     {{ flightinfo.amount }} 
   </p>
   <p>
     Proceed to final payment
   </p>
   <button class="submit">Proceed</button>
   <button class="reset">Cancel</button>
  </div>
</div>
</div> -->